.navbar{
    border-top: 3px solid rgba(235, 234, 231, 0.421);
}

ul{
   display: flex;
   flex-direction: row;
   gap: 1rem;
   padding-left: 3%;
   font-size: 1.5rem;
}

.up{
   display: flex;
   flex-direction: row;
   justify-content: right;
   font-size: 1.5rem;
   position: fixed;
   padding-right: 2%;
   left: 0;
   bottom: 3%;
   width: 100%;
}
