.proyecto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div img {
  width: 100%;
}

img {
  object-fit: cover;
  max-width: 22rem;
  max-height: 22rem;
}


.des p {
  word-break: break-all;
  padding: 5%;
  text-align: center;
}

h2, a{
  font-family: 'Questrial', sans-serif;
}

h2{
  padding-top: 15px;
}

a {
  text-decoration: none;
}

/* @media screen and (min-width: 1024px) {
  .proyecto{
    margin-left: 15%;
    margin-right: 15%;
  }
  .proyecto div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  p{
    width: 100%;
    margin-left: 25%;
  }

  a{
    padding-top: 3%;
  }

} */
