<div class="modal fade" id="educacionAdd" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form [formGroup]="educacionAddForm" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Añadir educacion:</h1>
        </div>
        <div class="modal-body">
          <label for="skillInput" class="form-label">Titulo:</label>
          <input
            type="text"
            class="form-control"
            id="skillInput"
            formControlName="titulo"
          />
          <div *ngIf="Titulo?.errors && Titulo?.touched">
            <p *ngIf="Titulo?.hasError('required')" class="error">
              El titulo es requerido.
            </p>
          </div>

          <label for="skillInput" class="form-label">Institucion:</label>
          <input
            type="text"
            class="form-control"
            id="skillInput"
            formControlName="institucion"
          />
          <div *ngIf="Institucion?.errors && Institucion?.touched">
            <p *ngIf="Institucion?.hasError('required')" class="error">
              La institución es requerida.
            </p>
          </div>

          <label for="skillInput" class="form-label">Inicio:</label>
          <input
            type="text"
            class="form-control"
            id="skillInput"
            formControlName="inicio"
          />
          <div *ngIf="Inicio?.errors && Inicio?.touched">
            <p *ngIf="Inicio?.hasError('required')" class="error">
              El año de inicio es requerido.
            </p>
          </div>

          <label for="skillInput" class="form-label">Estado:</label>
          <input
            type="text"
            class="form-control"
            id="skillInput"
            formControlName="estado"
          />
          <div *ngIf="Estado?.errors && Estado?.touched">
            <p *ngIf="Estado?.hasError('required')" class="error">
              El estado es requerido.
            </p>
          </div>

          <label for="skillInput" class="form-label">Logo:</label>
          <input
            type="text"
            class="form-control"
            id="skillInput"
            formControlName="logo"
          />
          <div *ngIf="Logo?.errors && Logo?.touched">
            <p *ngIf="Logo?.hasError('required')" class="error">
              El logo de la institución es requerido.
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
                      (click)="clear()"
          >
            Cerrar
          </button>
          <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>
