<nav class="navbar navbar-dark navbar-expand-md bg">
  <div class="container-fluid">
    <a class="navbar-brand" href=""
      ><img src="./assets/images/logo.png" alt="logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse botones" id="navbarTogglerDemo02">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link redes"
            href="https://github.com/FlorenciaGalindezCasas"
            target="_blank"
          >
            <i class="fa-brands fa-github"></i>Github
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link redes"
            href="https://www.linkedin.com/in/florenciagalindezcasas/"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin"></i>LinkedIn
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link redes"
            href="https://www.instagram.com/florenciagalindezcasas/"
            target="_blank"
          >
            <i class="fa-brands fa-instagram"></i>Instagram
          </a>
        </li>
        </ul>
          <div>
          <button
            class="btn nav-link login"
            (click)="login()"
            *ngIf="!logueado"
            type="button"
          >
            Ingresar
          </button>
          <button
            class="btn nav-link login close"
            (click)="onLogOut()"
            *ngIf="logueado"
            type="button"
          >
            Cerrar Sesion
          </button>
        </div>

    </div>
  </div>
</nav>
