.skill{
    margin: 5%;
    padding-bottom: 5%;
}

.skill i{
    padding-left: 1rem;
}

h2{
  font-family: 'Questrial', sans-serif;
}

.mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-color: rgb(60, 106, 65);
}